{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
<div class="card border-secondary mb-3 mt-5" style="max-width: 100%;">
  <div class="card-body">
    <h1 class="card-title">{{artist.name}}</h1>
    <p class="card-text"> {{artist.description}}</p></div>
</div>
{% endblock %}
